button {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

.btn {
  font-size: 16px;
  line-height: 26px;
  font-family: $font-default;
  font-weight: normal;
  display: inline-block;

  &--primary {
    height: 40px;
    padding: 7px 32px 9px;
    color: getColor(white);
    letter-spacing: -0.72px;
    border-radius: 20px;
    background-color: getColor(primary);
    transition: transform $transition;

    &:hover {
      color: getColor(white);
      transform: scale(1.02);
    }

    &:active {
      color: getColor(white);
      transform: scale(0.98);
    }
  }

  &--link {
    color: getColor(primary);

    span {
      color: #9B9B9B;
    }
  }
}

.btn_rotate {
  background-color: transparent;
  border: 0;
  position: absolute;
  z-index: 201;
  font-size: 0;
  cursor: pointer;
  right: 155px;
  right: 8vW;
  top: 90px;
  top: 8vH;

  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;

  img {
    animation: rotate_delay 6s infinite;
  }

  span {
    font-weight: getFontWeight(semibold);
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 100%;
    text-align: right;
    white-space: nowrap;
    top: 50%;
    margin-top: -8px;
    margin-right: 5px;
    transition: transform .5s cubic-bezier(1,0,.25,1),-webkit-transform .5s cubic-bezier(1,0,.25,1), opacity .8s cubic-bezier(1,0,.25,1);
    will-change: transform, opacity;
    opacity: 0;
    //animation: show_hint_delay 14s infinite forwards;
    transform: translate(0, 0);
  }

  &:hover {
    img {
      animation: rotate 1.5s linear infinite;
    }

    span {
      opacity: 1;
      transform: translate(0, 0);
      //animation: show_hint 1s forwards;
    }
  }

  &.show_hint span {
    opacity: 1;
  }

  .animate-texts & {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s .7s, visibility .5s .7s;
  }

  .menu-opened &,
  .scrolling_down & {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s 0s, visibility .5s 0s;
  }

  .modal_open & {
    img, span {
      animation: none !important;
    }
  }

  @media (#{$max_tablets}) {
    top: 37px;
    right: 25px;

    span {
      display: none;
    }

    img {
      animation: rotate 2.5s linear infinite;
    }
  }
}

.btn_close_text {
  position: fixed;
  z-index: 10;
  background-color: transparent;
  appearance: none;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 13px;
  //top: 250px;
  left: 155px;
  left: 8vW;
  height: 50px;
  pointer-events: all;

  opacity: 0;
  visibility: hidden;
  transition: opacity .5s .65s;
  will-change: transform,opacity;

  .scrolling_down & {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    i {
      background-color: getColor(primary);
    }
  }

  i {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    transition: background .3s ease;

    &:first-child {
      transform: rotate(45deg) translate(0, 2px);
    }

    &:last-child {
      transform: rotate(-45deg) translate(0,-1px);
    }
  }

  @media (#{$max_tablets}){
    top: 23px;
    left: 4vw;
    position: absolute;

    i {
      width: 31px;

      &:last-child {
        transform: rotate(-45deg) translate(0, -2px);
      }
    }
  }

  @media (#{$max_tablets--portrait}){
    left: 27px;
  }

  @media (#{$max_phones--tiny}) {
    left: 2px;
  }
}

.btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background-color: transparent;
  appearance: none;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 15px;
  height: 55px;

  i {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    transition: background .3s ease;

    &:first-child {
      transform: rotate(45deg) translate(0, 2px);
    }

    &:last-child {
      transform: rotate(-45deg) translate(0,-1px);
    }
  }

  &:hover {
    i {
      background-color: getColor(primary);
    }
  }
}

.btn_menu {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  appearance: none;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 13px;
  top: 0;
  left: 155px;
  left: 8vW;
  pointer-events: all;

  opacity: 0;
  transform: translateX(60px) translateZ(0);
  transition: opacity .5s .65s, transform .5s .65s;
  will-change: transform,opacity;

  .animation-loaded & {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }

  .menu-opened & {
    i {
      &:first-child {
        transform: rotate(45deg) translate(4px, 4px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(4px, -5px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0);
      }
    }
  }

  i {
    display: block;
    width: 24px;
    height: 2px;
    background-color: getColor(white);
    transition: opacity .5s .65s, transform .5s .65s;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }

  @media (#{$max_tablets--landscape}){
    left: 4vw;
  }

  @media (#{$max_tablets--portrait}){
    left: 27px;

    i {
      width: 30px;

      &:nth-child(2) {
        margin: 6px 0;
      }
    }

    .menu-opened & {
      i {
        &:first-child {
          transform: rotate(45deg) translate(5px, 6px);
        }

        &:last-child {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }

  @media (#{$max_phones--tiny}) {
    left: 2px;
  }
}

.scroll_to_explore {
  position: absolute;
  left: 0;
  right: 0;
  width: 110px;
  margin: 0 auto;
  z-index: 20;
  bottom: 4%;
  font-weight: getFontWeight(semibold);
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  will-change: transform,opacity;
  transition: all .3s $moving_easing;

  &:after {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background-color: getColor(primary);
    transition: all .5s $moving_easing;
  }

  &:hover {
    &:after {
      transform: scale(1.4);
      bottom: -6px;
    }
  }

  .menu-opened & {
    opacity: 0 !important;
    visibility: visible;
    transition: opacity .5s .65s;
  }

  .animate-texts & {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }

  &__text {
    margin-bottom: 18px;
  }

  &__arrow {
    text-align: center;
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }
  }

  @media (#{$max_tablets--landscape}) {
    &:after {
      width: 50px;
      height: 50px;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__arrow {
      height: 50px;
      overflow: hidden;

      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
      }
    }
  }
}

@keyframes rotate_delay {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes show_hint_delay {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show_hint {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}