.clouds {
  opacity: 0;
  transition: opacity .3s .0s;

  .animate-texts & {
    opacity: 1;
  }
}

.cloud {
  position: absolute;
  z-index: 10 !important;
  pointer-events: none;
  will-change: transform, left;
  transition: top .3s ease;

  &--1 {
    top: -180px;
    left: 80%;
    opacity: 0;
    animation: cloud_one 200s linear infinite .3s;
  }

  &--2 {
    top: -100px;
    left: 200%;
    transform: translate(10%, 0);
    animation: cloud_two 220s linear infinite;
  }

  &--3 {
    bottom: 10px;
    left: 200%;
    transform: translate(40%, 0);
    animation: cloud_three 230s linear infinite 3s;
  }

  .section_investments & {
    &--1 {
      top: 100px;
    }
  }

  @media (#{$max_tablets--portrait}) {
    display: none;
  }
}

@-webkit-keyframes cloud_one {
  0% {
    left: 50%;
    opacity: 0;
  }
  1% {
    left: 48%;
    opacity: 1;
  }
  100% {
    left: -200%;
    opacity: 1;
  }
}

@-webkit-keyframes cloud_two {
  0% {
    left: 200%
  }
  100% {
    left: -200%
  }
}


@-webkit-keyframes cloud_three {
  0% {
    left: 200%
  }
  100% {
    left: -200%
  }
}