.footer {
  position: absolute;
  bottom: 90px;
  bottom: 8vH;
  z-index: 200;
  width: 100%;
  left: 0;
  overflow: hidden;
  color: getColor(white);

  @media (#{$max_tablets--portrait}) {
    bottom: 40px;
  }
}

.lang {
  font-size: 16px;
  color: rgba(#fff, .6);
  position: fixed;
  z-index: 201;
  padding: 13px;
  bottom: 92px;
  bottom: 8.7vH;
  left: 155px;
  left: 8vW;

  opacity: 0;
  transform: translateX(60px) translateZ(0);
  will-change: transform,opacity, visibility;

  .animate-texts & {
    opacity: 1;
    transform: translateX(0) translateZ(0);
    transition: opacity .5s .65s, transform .5s .65s, visibility .5s;
  }

  .menu-opened & {
    opacity: 1 !important;
    visibility: visible !important;
    color: rgba(#fff, .6) !important;

    &_item {
      color: rgba(#fff, .6) !important;

      &:hover {
        color: #fff !important;
      }

      &--active {
        color: #fff !important;
      }
    }
  }

  &_item {
    color: rgba(#fff, .6);
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &--active {
      color: #fff;
      font-weight: getFontWeight(semibold);
    }
  }

  @media all and (max-width: 1150px) {
    .animate-texts & {
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (#{$max_tablets--landscape}){
    left: 4vw;
  }

  @media (#{$max_tablets--portrait}){
    left: 27px;
    opacity: 0;
    visibility: hidden;
  }

  @media (#{$max_phones--tiny}) {
    left: 10px;
  }

  @media all and (min-width: 1151px) and (max-width: 1280px) {
    .index_page & {
      transition: all .3s ease;
      transform: rotate(-90deg) translate(40px, -40px);
    }

    .scrolling_down & {
      transition: all .3s ease;
      transform: rotate(-90deg) translate(40px, -40px);
    }

    .menu-opened & {
      transform: none;
    }
  }
}

.footer_link {
  font-weight: getFontWeight(medium);
  font-size: 16px;
  width: 320px;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(60px, 0, 0);
  zoom:1;
  will-change: transform, opacity, visibility;
  transition: opacity .5s 0s, visibility .5s .0s, transform .5s .0s;

  .animate-texts & {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: opacity .5s .6s, visibility .5s .6s, transform .5s .6s;
  }

  .menu-opened &,
  .scrolling_down & {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s 0s, visibility .5s 0s, transform .5s 0s;
  }

  .inner_page & {
    display: none;
  }

  a {
    color: #fff;
    padding: 20px 0;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid rgba(#fff, .2);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid rgba(#fff, 1);
      transform: translate(-101%, 0);
      transition: transform .3s ease;
    }

    &:hover {
      color: #fff;

      &:after {
        transform: translate(0, 0);
      }
    }
  }

  &__arrow {
    display: inline-block;
    top: -3px;
    left: 20px;
    width: 80px;
    height: 1px;
    background: #fff;
    position: relative;
  }

  svg {
    width: 5px;
    height: 8px;
    fill: #fff;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -4px;
  }

  &--explore {
    position: absolute;
    right: 0;
    top: 0;
    width: 33vw;
    transition: all .5s .4s;
  }

  @media (#{$max_tablets--portrait}){
    width: 50%;
    float: left;

    &--explore {
      position: relative;
      width: 50%;

      .footer_link__arrow {
        width: 22%;
      }
    }
  }

  @media (#{$max_phones}){
    width: 100%;
    float: none;

    &--explore {
      width: 100%;
    }
  }
}