.control-label {
  font-size: 16px;
  color: rgba(#000, .6);
  letter-spacing: -0.72px;
  line-height: 26px;
  display: block;
  margin-bottom: 2px;

  sup {
    color: getColor(primary);
  }
}

.form-control {
  background: #F5F5F5;
  border-radius: 20px;
  border: 0;
  font-family: $font-default;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  height: 40px;
  width: 245px;
  max-width: 100%;
  padding: 11px 22px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &--block {
    width: 100%;
  }

  &.invalid {
    box-shadow: inset 0 0 0 1px getColor(primary) !important;
  }

  @include placeholder {
    color: rgba(#000, .5);
  }
}

textarea.form-control {
  width: 100%;
  resize: none;
  height: 108px;
}

.form-group {
  position: relative;
  margin-bottom: 12px;
}

.text-right {
  text-align: right;
}

.submit-group {
  text-align: center;
  margin-top: 30px;

  .btn {
    min-width: 140px;
  }
}

._fileupload_btn {
  cursor: pointer;
  padding: 3px 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;

  ~ input[type="file"] {
    visibility: hidden;
    position: absolute;
  }
}