.header {
  position: absolute;
  z-index: 200;
  width: 100%;
  left: 0;
  top: 90px;
  top: 8vH;
  color: getColor(white);
  pointer-events: none;

  a {
    color: inherit;
  }

  @media (#{$max_tablets}){
    top: 32px;
  }
}

.header_logo {
  font-weight: getFontWeight(extrabold);
  font-size: 24px;
  line-height: 40px;
  color: getColor(white);
  letter-spacing: 6.67px;
  float: left;
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  pointer-events: all;
  opacity: 0;
  transform: translateX(60px) translateZ(0);
  transition: opacity .5s .65s, visibility .5s .65s, transform .5s .65s;
  will-change: transform,opacity;

  img, svg {
    vertical-align: middle;
    margin: -8px -5px;
    position: relative;
    top: -2px;
    background-size: cover;
  }

  .animation-loaded & {
    opacity: 1;
    transform: translateX(0) translateZ(0);
  }

  svg path {
    fill: getColor(white);
    transition: fill .9s .4s;
  }

  .menu-opened & {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0) translateZ(0) !important;

    svg path {
      fill: getColor(white) !important;
    }
  }

  @media (#{$max_tablets--portrait}){
    margin-left: 70px;
    margin-top: 2px;
  }

  @media (#{$max_tablets}){
    font-size: 20px;
    letter-spacing: 3.56px;
    line-height: 40px;
    margin-left: 50px;

    img {
      width: 30px;
      margin-left: -3px;
      margin-right: -3px;
    }

    svg {
      transform: scale(.6);
      margin-left: -13px;
      margin-right: -13px;
    }
  }

  @media (#{$max_phones--tiny}){
    margin-left: 40px;
  }
}

.header_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  z-index: -2;
  overflow: hidden;
  background-color: getColor(primary);
  -webkit-transform: translateY(-100%) translateZ(0);
  transform: translateX(-100%) translateZ(0);
  transition: transform 1s cubic-bezier(.75,0,.25,1),visibility 0s 1s,-webkit-transform 1s cubic-bezier(.75,0,.25,1);
  will-change: transform;
  visibility: hidden;
  pointer-events: all;

  &__inner {
    width: 100vw;
    padding: 20vh 0;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    height: 100%;
    transform: translateX(-5%) translateZ(0);
    transition: transform 1s ease,opacity 1s,visibility 0s 1s,-webkit-transform 1s ease;
    will-change: transform,opacity;
  }

  .menu-opened & {
    transform: translateX(0) translateZ(0);
    transition-delay: 0s,0s;
    visibility: visible;

    .header_sidebar__inner {
      transform: translateX(0) translateZ(0);
      opacity: 1;
      visibility: visible;
      transition-delay: .5s;
    }
  }

  @media (#{$max_tablets--portrait}) {
    width: 90%;

    &__inner {
      padding: 18vh 0;
    }
  }
}

.header_nav {
  list-style-type: none;

  &__item {
    font-weight: getFontWeight(extrabold);
    font-size: 30px;
    font-size: 1.6vw;
    line-height: 40px;
    line-height: 2vw;
    color: getColor(white);
    letter-spacing: 0;
    position: relative;
    counter-increment: step-counter;
    text-transform: uppercase;
    padding: 1.4vh 0;
    margin: 1.4vh 0;

    &::before {
      font-size: 20px;
      font-size: 1vw;
      line-height: 40px;
      line-height: 2vw;
      margin-right: 40px;
      margin-right: 2vw;
      opacity: 0.5;
      font-weight: normal;
      color: getColor(black);
      letter-spacing: 0;
      vertical-align: middle;
      position: absolute;
      right: 100%;
      content: '0'counter(step-counter);
      transition: color .3s;
    }

    a {
      padding: 1.4vh 0;

      &:hover {
        color: getColor(black);
      }
    }

    &--active {
      color: getColor(black);
      pointer-events: none;

      &::before {
        color: getColor(white);
      }
    }
  }

  @media (#{$max_tablets}) {
    padding-left: 50px;

    &__item {
      font-size: 20px;
      line-height: 30px;

      &::before {
        font-size: 18px;
        line-height: 30px;
        margin-right: 25px;
      }
    }
  }

  @media (#{$max_tablets--portrait}) {
    &__item {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 12px;
      padding-bottom: 12px;

      a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  @media (#{$max_phones--tiny}) {
    &__item {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 9px;
      padding-bottom: 9px;

      a {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
}