$big_live_moving_time: 1 * 0.5;
$small_vertical_live_moving_time: 0.5 * 0.5;
$small_horizontal_live_moving_time: 1.5 * 0.5;
$intro__scroll_down_line_moving_time: 1 * 0.5;
$decor_square_height: 22;
$decor_square_width: $decor_square_height;

.intro__container{
	@include clearfix;

	max-width: 1200px;
	margin: 130px auto auto;

	@media (min-height: 1090px) and (#{$min_fullhd}){
		margin-top: 190px;
	}
	@media (#{$min_big}){
		max-width: 1390px;
		margin-top: 150px;
	}
	@media (#{$min_high}){
		max-width: 1800px;
	}
	@media (#{$max_desktop}){
		max-width: 1100px;
		margin-top: 100px;
	}
	@media (#{$max_laptop}){
		max-width: 900px;
		margin-top: 70px;
	}
	@media (#{$max_tablets}){
		padding-left: 30px;
		padding-top: 130px;
		margin-top: 0;
	}
	@media (#{$max_phones--big}){
		padding-left: 17px;
		padding-top: 17vw;
	}
}

body:not(.state-reveal-intro) {
  .header, .footer, .section_text, .lang {
    display: none;
  }
}