$decor_square_height: 22;
$decor_square_width: $decor_square_height;

.loader{
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
  pointer-events: none;

	margin: auto;

  background-color: getColor(black);

	@media (#{$max_phones}){
		font-size: 12px;
	}

  .animation-loaded & {
    background-color: transparent;
  }
}

.loader__container{
	@extend .intro__container;

	position: relative;
	z-index: 120;
  height: 100%;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.loader__finishing_overlay{
	position: absolute;
	z-index: 110;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	height: 100vh;
	width: 100vW;
  background-color: getColor(primary);

	transform: translateX(100%) translateZ(0);

	transition: transform 1.6s 0.3s $moving_easing, width 1.6s 0.3s $moving_easing;

  .animate-texts & {
    width: 34vw;
    transform: translateX(0) translateZ(0);
  }

  .inner_page & {
    position: fixed;
    width: 100% !important;
    transform: translateX(0) translateZ(0) !important;
  }

  @media (#{$max_tablets}){
    .animate-texts & {
      width: 220px;
    }
  }

  @media (#{$max_tablets--portrait}){
    .animate-texts & {
      width: 164px;
    }

    .scrolling_down & {
      width: 100%;
    }
  }
}

.loader__pulse {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);

  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}