.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
  opacity: .2;
  filter: alpha(opacity=20);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1072;
  overflow: hidden;
  display: none;
  outline: 0;
  transition: opacity .15s linear;
  -webkit-overflow-scrolling: touch;
  pointer-events: none;

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .body--mobile & {
    pointer-events: all;
  }
}

.modal_container {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 15px;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }
}

.modal_wrapper {
  width: 1000px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.37);
  padding: 70px 80px 40px;
  position: relative;
  transform: translate(0, 25%);
  transition: transform 0.3s ease-out;
  pointer-events: all;
  margin-left: auto;
  margin-right: auto;

  .modal-open & {
    transform: translate(0, 0);
  }

  @media (#{$max_tablets--portrait}){
    padding: 30px;

    .form-control {
      width: 100%;
    }

    .btn_close {
      top: 10px;
      right: 10px;
    }
  }
}

.modal_title {
  font-weight: getFontWeight(bold);
  font-size: 36px;
  color: #000000;
  letter-spacing: -1.5px;
  margin-bottom: 30px;

  @media (#{$max_tablets--portrait}) {
    font-size: 28px;
  }
}

.modal_map {
  .modal_wrapper {
    padding: 0 !important;
    height: 80vh;
  }

  .modal_body {
    height: 100%;
  }

  @media (#{$max_tablets--portrait}) {
    .modal_wrapper {
      margin: 0;
      height: 100%;
    }
  }
}