.section {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section_bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  will-change: transform, opacity;
  opacity: 0;
  visibility: hidden;
  transition: all .3s .0s;
  transform: scale(1.4);
  transform-style: preserve-3d;

  &__inner {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all .3s .0s;
    will-change: transform, opacity;
    position: relative;
    z-index: 1;
  }

  .animate-texts & {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
    transition: all 1.6s .4s;
  }

  &.image_back {
    will-change: transform, opacity, visibility;
    opacity: 0;
    visibility: hidden;
    transition: all .8s;
    transform: scale(1.5);

    .toggle_images & {
      opacity: 1;
      visibility: visible;
      transform: scale(1.2);
    }
  }

  &.image_front {
    will-change: transform, opacity;
    transition: all 1s;

    .toggle_images & {
      opacity: 0;
      visibility: hidden;
      transform: scale(1.5);
    }
  }

  video, > img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

  @media (#{$max_tablets--portrait}) {
    &__inner {
      background-position: center;
    }
  }
}

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.section_content {
  position: absolute;
  z-index: 121;
  width: 100%;
  left: 0;
  top: 50%;

  transform: translate(0, -50%);
}

.section_text {
  background-color: getColor(white);
  z-index: 10;
  padding: 90px 0 74px;
  padding: 90px 0 6.9vH;
  height: calc(100% - 200px);
  height: calc(100% - 20vh);

  h2 {
    max-width: 800px;
  }

  @media (#{$max_tablets}) {
    height: calc(100% - 105px);
  }
}

.section_group {
  margin-bottom: 50px;

  @media (#{$max_tablets--portrait}){
    margin-bottom: 30px;
  }
}

.section_investments {
  .animate-texts & {
    .section_bg.image_front {
      opacity: .6;
    }
  }
}

.background_canvas {
}

.section_bg_heat {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
}

.section_bg_canvas {
  canvas {
    margin: 0 !important;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%) scale(1) !important;
  }
}