.contacts_address {
  color: #fff;
  margin: 30px 0 65px;
  font-size: 22px;

  @media (#{$max_tablets--landscape}) {
    margin: 10px 0 25px;
    font-size: 15px;
  }
}

.text_row {
  .col-md-6 {
    margin-bottom: 30px;
  }

  @media (#{$max_tablets--portrait}){
    .col-md-6 {
      margin-bottom: 20px;
    }
  }
}

.contacts_links {
  color: #fff;

  .footer_link {
    position: relative;
    margin-bottom: 40px;
    color: #FF340B;

    a {
      color: #FF340B;
    }
  }

  @media (#{$max_tablets--portrait}){
    margin-left: 50px;
    width: auto;

    .footer_link {
      margin-bottom: 0;
      a {
        padding: 6px 0;
        font-size: 14px;

        &:after,
        &:before {
          display: none;
        }
      }

      &__title {
        width: 120px;
      }

      &--write {
        margin-bottom: 20px;
      }
    }
  }

  @media (#{$min_tablets--portrait}){
    .row {
      .col {
        padding-right: 0;
        overflow: hidden;

        + .col {
          padding-left: 0;
        }
      }
    }
  }

  @media (#{$max_phones}){
    .row {
      .col {
        width: 100%;
      }
    }
  }


}

.contacts_subtitle {
  font-size: 14px;
  color: rgba(#fff, .5);
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 2px;
  text-transform: uppercase;

  @media (#{$max_tablets--portrait}){
    font-size: 10px;
    line-height: 18px;
  }
}

.contacts_tel {
  font-size: 16px;
  letter-spacing: -0.72px;
  line-height: 30px;
  margin-bottom: 20px;

  a {
    color: #FFFFFF;
  }

  @media (#{$max_tablets--portrait}) {
    font-size: 14px;
    line-height: 23px;
  }
}

.section_contacts {
  &.section_inner {
    height: 100% !important;
    height: 100vh !important;
  }

  .fp-controlArrow {
    margin-top: -35px;
  }

  &.toggle_images .section_bg {
    &.image_back {
      opacity: .6;

      .section_bg__inner {
        animation-play-state: running;
      }
    }
  }

  .section_bg {
    &.image_front {
      .section_bg__inner {
        opacity: 0;
        animation: fadeIn 10s forwards .3s;
      }
    }

    &.image_back {
      .section_bg__inner {
        animation: scaleOut 70s infinite;
        animation-play-state: paused;
      }
    }
  }

  .footer_link {
    display: block;
    transform: translateX(0) translateZ(0);
    opacity: 1;
    visibility: visible;
  }

  .contacts_content {
    opacity: 0;
    transition-delay: 1s;
    transform: translateX(30%) translateZ(0);
    transition: transform 1s, opacity 1s;
  }

  .animate-texts & {
    .contacts_content {
      opacity: 1;
      transform: translateX(0) translateZ(0);
    }
  }

  @media (#{$max_tablets--portrait}) {
    .lead_title {
      margin-top: 60px;
    }
  }
}