.section_call_centers {
  .section_bg.image_front {
    animation: scaleIn 40s infinite 5s;
  }

  .scrolling_down & {
    .section_bg.image_front {
      animation-play-state: paused;
    }
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.8);
  }

  90% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.8);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.8);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }
}