.fp-controlArrow {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -54px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 0;
  visibility: hidden;

  .animate-texts & {
    opacity: 1;
    visibility: visible;
  }
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-controlArrow {
  width: 60px !important;
  height: 60px !important;
  border: 2px solid rgba(#fff, .1) !important;
  border-radius: 100px;
  transition: border .3s ease;

  &:hover {
    border-color: #fff !important;

    &:before {
      transform: scale(1.2);
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 100px;
    box-shadow: 0 0 0 1px rgba(#fff , .3);
    transition: transform .3s ease .05s;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-style: solid;
    transform: translate(-50%, -50%);
  }

  &.fp-next {
    right: 155px;
    right: 8vW;

    &:after {
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent #fff;
    }

    @media (#{$max_tablets}){
      right: 4vw;
    }

    @media (#{$max_tablets--portrait}){
      right: 27px;
    }

    @media (#{$max_phones--tiny}) {
      right: 2px;
    }
  }

  &.fp-prev {
    left: 155px;
    left: 8vW;

    &:after {
      border-width: 8px 8px 8px 0;
      border-color: transparent #fff transparent transparent;
    }

    @media (#{$max_tablets}){
      left: 4vw;
    }

    @media (#{$max_tablets--portrait}){
      left: 27px;
    }

    @media (#{$max_phones--tiny}) {
      left: 2px;
    }
  }

  @media (#{$max_tablets--landscape}) {
    width: 50px !important;
    height: 50px !important;
    top: auto;
    bottom: 80px;
    bottom: 7vh;
  }
}

.fp-slidesContainer {
  transition: transform 1.6s $moving_easing .2s !important;
}