.section_inner {
  background-color: getColor(black);
  height: 100%;
  height: 100vh;
  transform: translate3d(0,0,0);
  will-change: height;
  transition: height .8s ease;

  .scene_item {
    opacity: .8;
  }

  .lead_title__line {
    overflow: visible;
  }

  .animate-texts & {
    height: 95%;
    height: 95vh;
    transition: height .8s ease;
  }

  @media (#{$max_tablets--portrait}){
    .section_bg {
      background-position: 63%;
    }
  }
}

.inner_page {
  overflow: hidden;

  .header_logo {
    svg path {
      fill: getColor(primary);
    }
  }

  &.scrolling_up {
    .header_logo {
      transition: opacity .3s .3s, visibility .3s .3s, transform .5s 0s;
    }
  }

  &.scrolling_down {
    .header_logo {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-220px) translateZ(0);
      transition: opacity .3s .3s, visibility .3s .3s, transform .5s 0s;
    }

    .lead_title {
      font-size: 4.4vW;
      line-height: 4.4vW;
      letter-spacing: -.3vW;
    }

    .section_inner {
      height: 200px;
      height: 20vH;
    }

    .section_text {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .scroll_to_explore {
      opacity: 0 !important;
      visibility: hidden;
    }

    .lang {
      color: rgba(#000, .6);

      &_item {
        color: rgba(#000, .6);

        &--active,
        &:hover {
          color: #000;
        }
      }
    }
  }

  @media (#{$max_tablets}){
    &.scrolling_down {
      .section_inner {
        height: 105px;
      }
    }
  }

  @media (#{$max_tablets--portrait}) {
    .lead_title {
      transition: margin-left 1s ease;
    }

    &.scrolling_down {
      .lead_title {
        font-size: 25px;
        line-height: 25px;
        margin-left: 48px;
        margin-top: 2px;
      }
    }
  }
}