.section_lead {
  background-color: #000;

  .section_bg {
    background-position: center;
    transform: scale(.9);
    left: 50%;
    top: 50%;
    margin-top: -423px;

    &--layer_1 {
      width: 633px;
      height: 786px;
    }

    &--layer_2 {
      width: 596px;
      height: 595px;
      transform: translate(312px, 70px) scale(.9);
      border-radius: 100%;
      opacity: 0;

      .section_bg__inner {
        border-radius: 100%;
      }
    }

    .animate-texts & {
      transform: scale(1);

      &--layer_2 {
        animation: flicker 10s ease infinite .5s;
        transform: translate(312px, 70px) scale(1);

        .section_bg__inner {
          box-shadow: 0 0 40px 5px rgba(255,255,255, .3), 0 0 100px 15px rgba(255,255,255, .4), inset 0 0 0 4px #fff;
        }
      }
    }
  }

  .scene_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .animate-texts & {
    transition: height 1s $moving_easing;
  }

  .inner_page & {
    overflow: visible;
  }

  @media (#{$max_laptop--small}) {
    .section_bg {
      left: 30%;
    }
  }

  @media (#{$max_tablets--landscape}) {
    .section_bg {
      margin-top: -208px;
      left: 40%;

      &--layer_1 {
        width: 323px;
        height: 416px;
      }

      &--layer_2 {
        width: 255px;
        height: 255px;
        transform: translate(162px, 70px) scale(1) !important;
      }
    }
  }

  @media (#{$max_phones}){
    .lead_title {
      font-size: 17vw;
      line-height: 16vw;
    }
  }

  @media (#{$max_phones--small}){
    .section_bg {
      left: 160px;
    }
  }
}

.lead_title {
  font-weight: getFontWeight(extrabold);
  font-size: 8.4vW;
  line-height: 8.4vw;
  color: getColor(white);
  letter-spacing: -6.3px;
  letter-spacing: -.5vW;
  text-transform: uppercase;

  span {
    color: getColor(primary);
  }

  &__inner {
    opacity: 0;
    position: relative;
    transform: translateZ(0);
    transition: transform 1s;
    will-change: transform;
  }

  &__line {
    will-change: transform, opacity;
    opacity: 0;
    transition: all 1s;
    transform: translateZ(0);
    //overflow: hidden;

    &--1 {
      transition-delay: .2s;
      transform: translateX(120%) translateZ(0);

      .lead_title__inner {
        transition-delay: .2s;
        transform: translateX(-80%) translateZ(0);
      }
    }

    &--2 {
      transition-delay: .3s;
      transform: translateX(120%) translateZ(0);

      .lead_title__inner {
        transition-delay: .3s;
        transform: translateX(-80%) translateZ(0);
      }
    }

    &--3 {
      transition-delay: .4s;
      transform: translateX(120%) translateZ(0);

      .lead_title__inner {
        transition-delay: .4s;
        transform: translateX(-80%) translateZ(0);
      }
    }

    .animate-texts & {
      opacity: 1;
      transform: translateX(0) translateZ(0);

      .lead_title__inner {
        opacity: 1;
        transform: translateX(0) translateZ(0);
      }
    }

    .menu-opened & {
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (#{$max_tablets--portrait}){
    font-size: 60px;
    font-size: 9vw;
    line-height: 56px;
    line-height: 56px;
    line-height: 8vw;
  }

  @media (#{$max_phones}){
    font-size: 15vw;
    line-height: 14vw;
  }
}

.index_page {
  overflow: hidden;

  &.scrolling_down {
    .section_lead {
      height: 200px;
      height: 20vH;
    }

    .section_text {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .lead_title__line,.scroll_to_explore {
      opacity: 0 !important;
      visibility: hidden;
    }

    .lang {
      color: rgba(#000, .6);

      &_item {
        color: rgba(#000, .6);

        &--active,
        &:hover {
          color: #000;
        }
      }
    }
  }

  @media (#{$max_tablets}){
    &.scrolling_down {
      .section_lead {
        height: 105px;
      }
    }

    .animate-texts & {
      .section_bg {
        transform: scale(0.8);
      }
    }
  }
}


@keyframes flicker {
  0% {
    opacity:1;
  }
  2% {
    opacity:0.95;
  }
  9% {
    opacity:1;
  }
  12% {
    opacity:0.9;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.9;
  }
  30% {
    opacity:1;
  }

  70% {
    opacity:1;
  }

  72% {
    opacity:0.95;
  }

  95% {
    opacity:1;
  }

  100% {
    opacity:1;
  }
}



.visible-xs {
  display: none;

  @media (#{$max_phones}){
    display: block;
  }
}