<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url(/images/automation_1.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url(/images/automation_2.jpg)"></div>
        <div class="clouds">
          <img src="/images/cloud_2.png" alt="" class="cloud cloud--1">
          <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
          <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Auto<br class="visible-xs">mation<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    <span class="visible-desktop">Scroll to explore</span>
    <span class="visible-mobile">Click to explore</span>
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>One of&nbsp;the key competencies of&nbsp;the DOT GROUP is&nbsp;business process automation.</p>
      <p>Each business is&nbsp;unique, and each project of&nbsp;introduction of&nbsp;the automated control systems has its own features regardless of&nbsp;whether full automation of&nbsp;all decisions of&nbsp;the company is&nbsp;carried out, or&nbsp;the control system of&nbsp;separate business processes is&nbsp;being introduced.</p>
      <p>Therefore, even after dozens of&nbsp;successful implementations, each subsequent project allows&nbsp;us to&nbsp;gain new experience, deepen our competence and expand the scope of&nbsp;our knowledge.</p>
    </div>

    <div class="section_group">
      <h3>Main areas of automation:</h3>
      <ul>
        <li>logistics management and monitoring,</li>
        <li>automation of contact centers,</li>
        <li>cost accounting and employee control,</li>
        <li>control of mutual settlements and receivables.</li>
      </ul>
    </div>

    <p>All projects are implemented using modern iterative techniques: Agile, SCRUM, which allows you to&nbsp;automate processes in&nbsp;the shortest possible time, collecting and refining system requirements during implementation.</p>
    <p>To order process automation &nbsp;&nbsp; <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Leave a&nbsp;request</a>
    </p>

  </div>
</section>