<section class="section section_inner section_call_centers _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.2">
      <div class="scene_item__wrapper">
        <div class="section_bg image_front">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_1.jpg)"></div>
        </div>
        <div class="section_bg image_back">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_2.jpg)"></div>
          <div class="clouds">
            <img src="/images/cloud_1.png" alt="" class="cloud cloud--1">
            <img src="/images/cloud_2.png" alt="" class="cloud cloud--2">
            <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Call</div>
        </div>
        <div class="lead_title__line lead_title__line--2">
          <div class="lead_title__inner">Centers<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    <span class="visible-desktop">Scroll to explore</span>
    <span class="visible-mobile">Click to explore</span>
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>We&nbsp;do&nbsp;our best to&nbsp;make your contact center a&nbsp;standard of&nbsp;high quality customer service. Our main advantages are experts and experience. It&rsquo;s impossible to&nbsp;buy experience, you can only gain&nbsp;it. And this experience allows&nbsp;us to&nbsp;achieve success in&nbsp;our business.</p>
      <p>We&nbsp;build contact centers of&nbsp;any complexity and configuration. The more complex the task, the more pleasure we&nbsp;get from solving&nbsp;it. We&nbsp;are developing new models of&nbsp;remote maintenance. By&nbsp;investing the modern technologies and continuously researching the market, we&nbsp;generate ideas and create our own solutions for customer service.</p>
      <p>We&nbsp;help our clients to&nbsp;find effective solutions for each project using the latest technologies and best world&rsquo;s practices.</p>
    </div>

    <h2>We offer</h2>
    <div class="section_group">
      <h3>Inbound calls</h3>
      <ul>
        <li>Automatic customer identification by&nbsp;voice and phone number, providing operators with information from the customer base.</li>
        <li>Providing operators with step-by-step interactive scripts designed for your business model.</li>
        <li>IVR menu&nbsp;&mdash; robotic navigation and solution of&nbsp;client&rsquo;s questions.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Outbound calls</h3>
      <ul>
        <li>We&nbsp;apply the best practices of&nbsp;hot and cold calls.</li>
        <li>5 seconds - this is how long it takes our service to call the client after receiving the application.</li>
        <li>Predictive dialing&nbsp;&mdash; the robot itself calls customers. You don&rsquo;t have to&nbsp;pay for the line ringing or&nbsp;failed calls, you pay only for the call itself.</li>
        <li>Training of&nbsp;operators and providing tools to&nbsp;ensure high efficiency of&nbsp;calls and increase the conversion rate of&nbsp;outbound companies.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Transparent statistics</h3>
      <p>In&nbsp;the admin panel of&nbsp;our CRM system you can see everything you need to&nbsp;analyze the work of&nbsp;employees:</p>
      <ul>
        <li>recording of&nbsp;conversations,</li>
        <li>duration of conversations,</li>
        <li>cost of conversations,</li>
        <li>number of missed calls,</li>
        <li>number of failed calls,</li>
        <li>data on&nbsp;the effectiveness of&nbsp;calls in&nbsp;the context of&nbsp;operators, projects and departments,</li>
        <li>online monitoring and reports on&nbsp;the work of&nbsp;the contact center via SMS and Telegram notifications.</li>
      </ul>

      <p>Thanks to&nbsp;detailed analytics, our clients feel the basic metrics of&nbsp;their business &laquo;at&nbsp;their fingertips&raquo; and have the opportunity to&nbsp;make management and personal decisions based on&nbsp;numbers, not personal feelings.</p>
    </div>

    <div class="section_group">
      <h3>Automation</h3>
      <ul>
        <li>IVR menu: reducing the costs of&nbsp;the contact center and the payroll, using the voice of&nbsp;the robot.</li>
        <li>Automatic calls to&nbsp;the base with the possibility to&nbsp;work on&nbsp;the complex scenarios. For example, if&nbsp;customer&rsquo;s answer to&nbsp;the question is&nbsp;&laquo;Yes&raquo;, the robot can send a&nbsp;commercial offer to&nbsp;the customer&rsquo;s email address entered in&nbsp;the database in&nbsp;advance.</li>
        <li>Integration with your CRM and database.</li>
        <li>Implementation of&nbsp;complex scenarios of&nbsp;multi-channel communications (Voice, e-mail, SMS, PUSH, chat-bots, Viber, WhatsAPP).</li>
        <li>Auto surveys and questionnaires with the help of&nbsp;the robot.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Training of&nbsp;operators</h3>
      <ul>
        <li>development and testing of&nbsp;interactive scripts,</li>
        <li>develops of&nbsp;distance learning programs for operators,</li>
        <li>searching of&nbsp;personnel for specific business tasks,</li>
        <li>development of&nbsp;KPI and motivation,</li>
        <li>sales training,</li>
        <li>training and professional development.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Audit of&nbsp;the contact centers</h3>
      <ul>
        <li>the collection and analysis of&nbsp;the key performance indicators,</li>
        <li>qualitative and quantitative evaluation of&nbsp;operators&rsquo; work,</li>
        <li>technical audit,</li>
        <li>stress analysis,</li>
        <li>development of&nbsp;recommendations and control of&nbsp;implementation of&nbsp;changes.</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Leave your contacts</a> &nbsp;&nbsp; to communicate to our representative.</p>

  </div>
</section>