<section class="section section_inner section_investments _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url('/images/investments_1.jpg')"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url('/images/investments_2.jpg')"></div>
      </div>
      <div class="clouds">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--1">
        <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Invest<br class="visible-xs">ments<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    <span class="visible-desktop">Scroll to explore</span>
    <span class="visible-mobile">Click to explore</span>
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>The accumulated capital and access to&nbsp;technologies not yet available on&nbsp;the public market allow&nbsp;us not only to&nbsp;successfully develop the business of&nbsp;our clients, but also to&nbsp;invest in&nbsp;other companies.</p>
      <p>Our investment portfolio is&nbsp;diversified: we&nbsp;invest both in&nbsp;established industry leaders&nbsp;&mdash; Facebook, Telegram, Amazon, and in&nbsp;bright, sometimes crazy projects that attract&nbsp;us with their energy and new ideas.</p>
    </div>

    <div class="section_group">
      <h3>The business we invest in:</h3>

      <ul>
        <li>E-commerce platforms and services</li>
        <li>Online services B2C and B2B</li>
        <li>Mobile applications</li>
        <li>Marketplaces</li>
        <li>Online education</li>
        <li>Blockchain projects</li>
        <li>Advertising technologies</li>
        <li>Services in&nbsp;the area of&nbsp;telecommunications</li>
        <li>Partnership systems</li>
      </ul>
    </div>

    <p>We&nbsp;provide &laquo;Smart Money&raquo;. In&nbsp;addition to&nbsp;money, depending on&nbsp;the level of&nbsp;development of&nbsp;your company, we&nbsp;can close the missing competence in&nbsp;your project, help with the contacts and access to&nbsp;new markets.</p>
    <p>Tell&nbsp;us about your product.</p>
    <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Leave a&nbsp;request</a>

  </div>
</section>