<section class="section section_lead">
  <div class="loader__finishing_overlay js-loader-finishing-overlay"></div>

  <div id="scene">
    <div class="scene_item" data-depth="0.15">
      <div class="section_bg section_bg--layer_1">
        <div class="section_bg__inner" style="background-image: url(/images/lead_hand_alt.png);"></div>
      </div>
    </div>
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg--layer_2">
        <div class="section_bg__inner" style="background-image: url(/images/lead_circle_alt.png);"></div>
      </div>
    </div>
  </div>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">We are</div>
        </div>
        <div class="lead_title__line lead_title__line--2">
          <div class="lead_title__inner">Dot<span>.</span></div>
        </div>
        <div class="lead_title__line lead_title__line--3">
          <div class="lead_title__inner">Group</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section_text">
    <button type="button" class="btn_close_text">
        <i></i>
        <i></i>
    </button>

    <div class="container">
        <div class="section_group">
          <h2>About us</h2>
          <p>An&nbsp;international group of&nbsp;companies DOT GROUP was founded in&nbsp;2010 in&nbsp;Moscow. Today it&rsquo;s one of&nbsp;the key players of&nbsp;the development and provision of&nbsp;IT infrastructure for companies working in&nbsp;the field of&nbsp;CPA marketing and E-commerce in&nbsp;Russia, Europe and Asia.</p>
          <p>Reliability, manufacturability, accuracy&nbsp;&mdash; these are the values that define our company.</p>
          <p>These values give&nbsp;us the opportunity to&nbsp;realize the ambitions of&nbsp;our customers and successfully support them through the chain of&nbsp;business processes.</p>
          <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Request access to&nbsp;our projects</a>
        </div>
    </div>
</section>