<section class="section section_inner section_logistics _scroll">
  <div id="scene">
    <div class="scene_item" data-depth=".3">
      <div class="section_bg section_bg_heat image_front">
        <div class="section_bg__inner" style="background-image: url(/images/logistics.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <video autoplay muted playsinline loop poster="/images/logistics.jpg" width="100%" height="100%">
          <source src="/images/video/logistics_video.mp4" type="video/mp4" />
          <source src="/images/video/logistics_video.webm" type="video/webm" />
          <source src="/images/video/logistics_video.ogv" type="video/ogg" />
        </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">logi<br class="visible-xs">stics<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    <span class="visible-desktop">Scroll to explore</span>
    <span class="visible-mobile">Click to explore</span>
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>


  <div class="container">
    <div class="section_group">
      <p>We are experts in the field of automation of logistics processes for the E-commerce market. We&nbsp;build logistics for B2C companies equally effectively, regardless of&nbsp;their size: the system we&nbsp;have built works in&nbsp;small niche online stores, and in&nbsp;large online retailers equally&nbsp;&mdash; just like Swiss watch.</p>
    </div>

    <h2>We&nbsp;offer:</h2>
    <div class="section_group">
      <h3>Access to&nbsp;the hundreds courier services through a&nbsp;single service.</h3>
      <p>One API-integration or&nbsp;transition to&nbsp;our CRM-system will give you access to&nbsp;proven courier companies of&nbsp;world level anywhere on&nbsp;the Earth. Our experts will choose the best company for your business tasks and will carry out integration. You pass the order information- we&nbsp;take care of&nbsp;everything else: from the warehouse gates to&nbsp;the client&rsquo;s door.</p>
    </div>

    <div class="section_group">
      <h3>Dropshipping</h3>
      <p>We&nbsp;broke stereotypes about the business model of&nbsp;drop shipping. No&nbsp;detective in&nbsp;the world would guess that you are trading from the warehouse of&nbsp;your supplier. Earn money on&nbsp;your business without thinking about infrastructure.</p>
    </div>

    <div class="section_group">
      <h3>Fulfillment</h3>
      <p>To&nbsp;enter the international market in&nbsp;one day? It&nbsp;sounds like a&nbsp;fantasy only if&nbsp;you are not already working with&nbsp;us. Procurement, distribution, customs clearance, e-commerce fulfillment, last mile delivery&nbsp;&mdash; everything is&nbsp;already organized, developed and waiting for you.</p>
    </div>

    <div class="section_group">
      <h3>Flexible analytics</h3>
      <p>Our ERP-system allows to&nbsp;observe the key logistics and business indicators of&nbsp;your project:</p>
      <ul>
        <li>the time spent on&nbsp;packing the order,</li>
        <li>delivery time,</li>
        <li>speed of&nbsp;money transfer by&nbsp;courier service,</li>
        <li>the efficiency of&nbsp;delivery of&nbsp;orders,</li>
        <li>the turnover of&nbsp;warehouse.</li>
      </ul>
    </div>

    <div class="section_group">
      <p>More than 17&nbsp;indicators are reflected in&nbsp;our logistics ERP module.</p>
      <p>All clients can receive instant notification of&nbsp;the client: in&nbsp;case of&nbsp;any deviations from the normal indicators our robot will immediately notify you about the problems by&nbsp;SMS or&nbsp;Telegram.</p>
    </div>

    <div class="section_group">
      <h2>That&rsquo;s what we&nbsp;guarantee:</h2>
      <ul>
        <li>Delivery from 12&nbsp;to&nbsp;48&nbsp;hours in&nbsp;all countries of&nbsp;Europe and Asia.</li>
        <li>Preferential rates for delivery (10-15% below market).</li>
        <li>High percentage of&nbsp;successfully completed orders.</li>
        <li>NPS 75% +</li>
        <li>Quick integration via the API</li>
        <li>Service Level Agreement</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Leave your contacts</a> &nbsp;&nbsp; to communicate to our manager.</p>
  </div>
</section>