<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg_canvas image_front">
        <img src="/images/development.jpg" alt="" class="section_image">
      </div>
      <div class="section_bg image_back">
          <video autoplay muted playsinline loop poster="/images/development.jpg" width="100%" height="100%">
              <source src="/images/video/development_video.mp4" type="video/mp4" />
              <source src="/images/video/development_video.webm" type="video/webm" />
              <source src="/images/video/development_video.ogv" type="video/ogg" />
          </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
          <div class="lead_title__line lead_title__line--1">
              <div class="lead_title__inner">Spirit<span>.</span></div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    <span class="visible-desktop">Scroll to explore</span>
    <span class="visible-mobile">Click to explore</span>
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <h2>Our state of mind</h2>
      <p>Steve Jobs, once talking about his philosophy of&nbsp;life, said: &laquo;Stay hungry, stay foolish&raquo;. We&nbsp;adhere to&nbsp;the same principle in&nbsp;our work. We&nbsp;are always hungry for the realization of&nbsp;new ideas and development of&nbsp;already created products.</p>
      <p>We&nbsp;are constantly looking for new approaches, entering new markets and investing in&nbsp;tomorrow&rsquo;s technology.</p>
      <p>The scope of&nbsp;our business interests is&nbsp;not limited. Today DOT GROUP serves and audits the business processes of&nbsp;its customers in&nbsp;almost all areas of&nbsp;business competence.</p>
      <p>Our goal is&nbsp;to&nbsp;offer customers the opportunity to&nbsp;give&nbsp;us the control and automation of&nbsp;most of&nbsp;their routine business processes, leaving behind only strategic and product objectives.</p>
    </div>

    <div class="section_group">
      <h3>Main facts about us</h3>
      <ul>
        <li>Our company was founded in 2010</li>
        <li>We have more than 40 active clients</li>
        <li>Team consisting of 200 employees</li>
        <li>We work with contractors from 30 countries</li>
        <li>We have unique patents for our own developments</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Leave your contacts</a> &nbsp;&nbsp; to communicate to our manager.</p>

  </div>
</section>