@import './reset.css';
@import './bootstrap.min.css';

@import 'common/fonts';
@import 'common/icons';
@import 'common/vars';
@import 'common/functions';
@import 'common/mixins';
@import 'common/typo';


* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  font: 400 getFontSize(regular) $font-default;
  color: getColor(dark);
  background-color: getColor(black);
  overflow: hidden;
  -webkit-text-size-adjust: none;
  font-size-adjust: none;

  @include fontantialias(true);

  &.menu-opened {
    overflow: hidden;
  }
}

.container {
  width: 830px;
  max-width: 100%;
}

@media (#{$min_desktop--small}){
  .container {
    width: 980px;
    width: 58vw;
  }
}

@media (#{$max_tablets}){
  .container {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (#{$max_tablets--portrait}){
  .container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (#{$max_phones--tiny}){
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#barba-wrapper,
.barba-container,
#scene,
.scene_item {
  height: 100%;
}

.visible-mobile {
  display: none;
}

.body--mobile {
  .visible-desktop {
    display: none;
  }

  .visible-mobile {
    display: block;
  }
}

@import 'partials/header';
@import 'partials/buttons';
@import 'partials/footer';
@import 'partials/loader';

@import 'partials/section_controls';
@import 'partials/section';
@import 'partials/intro';
@import 'partials/section_lead';
@import 'partials/section_inner';
@import 'partials/section_contacts';
@import 'partials/section_logistics';
@import 'partials/section_call_centers';
@import 'partials/clouds';
@import 'partials/modal';
@import 'partials/forms';
