<div class="footer">
  <div class="container">
    <div class="footer_link footer_link--about">
      <a href="" class="open_about_text">
        <span class="footer_link__title">О нас</span>
      </a>
    </div>
    <div class="footer_link footer_link--explore">
      <a href="call_centers.html" class="barba_next">
        <span class="footer_link__title">Больше о Dot.Group</span>
        <span class="footer_link__arrow">
          <svg id="triangle-right" viewBox="0 0 18.6 32.6" width="5px" height="8px"><path d="M0 0l18.6 16.3L0 32.6z"></path></svg>
        </span>
      </a>
    </div>
  </div>
</div>