@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/ttnorms-extrabold.eot');
  src: url('../fonts/TTNorms/ttnorms-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/ttnorms-extrabold.woff') format('woff'),
  url('../fonts/TTNorms/ttnorms-extrabold.ttf') format('truetype'),
  url('../fonts/TTNorms/ttnorms-extrabold.svg#tt_normsextrabold') format('svg');

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/ttnorms-bold.eot');
  src: url('../fonts/TTNorms/ttnorms-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/ttnorms-bold.woff') format('woff'),
  url('../fonts/TTNorms/ttnorms-bold.ttf') format('truetype'),
  url('../fonts/TTNorms/ttnorms-bold.svg#tt_normsbold') format('svg');

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/ttnorms-light.eot');
  src: url('../fonts/TTNorms/ttnorms-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/ttnorms-light.woff') format('woff'),
  url('../fonts/TTNorms/ttnorms-light.ttf') format('truetype'),
  url('../fonts/TTNorms/ttnorms-light.svg#tt_normslight') format('svg');

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/ttnorms-medium.eot');
  src: url('../fonts/TTNorms/ttnorms-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/ttnorms-medium.woff') format('woff'),
  url('../fonts/TTNorms/ttnorms-medium.ttf') format('truetype'),
  url('../fonts/TTNorms/ttnorms-medium.svg#tt_normsmedium') format('svg');

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/ttnorms-regular.eot');
  src: url('../fonts/TTNorms/ttnorms-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms/ttnorms-regular.woff') format('woff'),
  url('../fonts/TTNorms/ttnorms-regular.ttf') format('truetype'),
  url('../fonts/TTNorms/ttnorms-regular.svg#tt_normsregular') format('svg');

  font-style:   normal;
  font-weight:  400;
}
