@mixin break-min ($size: medium) {
  @media (min-width: map-get($screens, $size)) {
    @content;
  }
}

@mixin break-max ($size: medium) {
  @media (max-width: map-get($screens, $size)) {
    @content;
  }
}

@mixin break-min-height ($size: medium) {
  @media (min-height: map-get($screens, $size)) {
    @content;
  }
}

@mixin break-max-height ($size: medium) {
  @media (max-height: map-get($screens, $size)) {
    @content;
  }
}

@mixin fontantialias ($on) {
  @if $on == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin clearfix {
  &:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin clear_list{
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin no_webkit_flickering{
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
@mixin GPU_acceleration{
  transform: translateZ(0);
}
@mixin clear_link{
  &{
    text-decoration: none;
  }
  &:hover{
    color: inherit;
  }
}