html { font-size: 16px; min-height: 100%; height: auto; position: relative; }

body {  line-height: normal; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-size: 16px; font-size: 1rem; }

a:focus, input:focus, button:focus { outline: none !important; }

a {
  text-decoration: none;
  color: getColor(primary);
  transition: all $transition;

  &:hover {
    color: darken(getColor(primary), 6%);
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 0;
  color: inherit;
  line-height: 1.4;
  font-weight: getFontWeight(semibold);
}

h1, .h1 {
  font-size: getFontSize(h1);
  margin-bottom: 12px;
  font-weight: getFontWeight(bold);
}

h2, .h2 {
  font-size: getFontSize(h2);
  margin-bottom: 24px;
  font-weight: bold;
}

h3, .h3 {
  color: getColor(dark);
  font-size: getFontSize(h3);
  font-weight: getFontWeight(bold);
  margin-bottom: 30px;
}

h4, .h4 {
  font-size: getFontSize(h4);
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: getFontSize(h5);
}

ul, ol {
  padding-left: 20px;
}

p, ul, ol {
  font-size: getFontSize(regular);
  line-height: 1.8;
  margin-bottom: 1.4em;

  a {
    font-weight: getFontWeight(semibold);
  }
}

p + ul, p + ol {
  margin-top: -1.4em;
}

p.lead {
  font-size: getFontSize(big);
  color: inherit;
  line-height: 1.6;
  margin: 50px 0;
  font-weight: getFontWeight(regular);

  &:first-child {
    margin-top: 0;
  }
}

p.accent {
  font-size: getFontSize(large);
  line-height: 1.3;
  color: getFontSize(dark);
  letter-spacing: -0.4px;
  margin-bottom: 20px;
  font-weight: getFontWeight(regular);
}

hr {
  border-top-color: #EBEDEF;
  margin: 58px 0;
}

@include break-max(medium) {
  h1, .h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2, .h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3, .h3 {
    font-size: 20px;
  }

  p, ul, ol {
    font-size: 14px;
  }

  p.lead {
    font-size: 16px;
    margin: 30px 0;
  }

  p.accent {
    font-size: 26px;
  }

  hr {
    margin: 30px 0;
  }
}
