$colors: (
  white: #fff,
  dark: #111,
  black: #000,
  text: #333,
  dark-grey: #3C3C3C,
  grey: #ECECEC,
  dusty-grey: #999,
  secondary: #3f4d60,
  primary: #ba0000,
);

$screens: (
  xlarge: 1280px,
  large: 1024px,
  tablet: 991px,
  medium: 767px,
  mobile-alt: 640px,
  mobile: 370px
);

$font-sizes: (
  h1: 80px,
  h2: 36px,
  h3: 24px,
  h4: 21px,
  h5: 16px,
  large: 40px,
  big: 22px,
  regular: 18px,
  subtitle: 30px,
  small: 16px,
  xsmall: 14px,
  smaller: 12px
);

$font-weights: (
  thin: 200,
  light: 300,
  regular: 400,
  semibold: 600,
  bold: 700,
  extrabold: 800
);

$layers: (
  normal: 1,
  layer-2: 2,
  layer-3: 3,
  layer-4: 4,
  layer-5: 5,
  fixed: 100,
  modal: 1000
);

$transition: .3s ease;

$border-radius: 4px;

$font-default: 'TT Norms', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

$screen-mobile-tiny: 480px;
$screen-mobile: 543px;
$screen-mobile-old: 640px;
$screen-landscape: 767px;
$screen-tablet: 991px;
$screen-desktop: 1199px;

//media queries (notice: there are some local media queries starting with the underscore char: $_scaling_range)
//aspect ratios:
$rect_aspect_ratio: 'min-aspect-ratio: 6/10';
$square_aspect_ratio: 'min-aspect-ratio: 3/4';
// for retina and other HDPI
$HDPI: 'only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)';

$max_phones--tiny: 'max-width: 320px';
$min_phones--tiny: 'min-width: 321px';

$max_phones--small: 'max-width: 375px';
$min_phones--small: 'min-width: 376px';

$max_phones: 'max-width: 500px';
$min_phones: 'min-width: 501px';

$max_phones--big: 'max-width: 767px';
$min_phones--big: 'min-width: 768px';

$max_tablets--portrait: 'max-width: 768px';
$min_tablets--portrait: 'min-width: 769px';

$max_tablets: 'max-width: 1023px';
$min_tablets: 'min-width: 1024px';

$max_tablets--landscape: 'max-width: 1050px';
$min_tablets--landscape: 'min-width: 1051px';

$max_laptop--small: 'max-width: 1280px';
$min_laptop--small: 'min-width: 1281px';

$max_laptop: 'max-width: 1366px';
$min_laptop: 'min-width: 1367px';

$max_desktop--small: 'max-width: 1440px';
$min_desktop--small: 'min-width: 1441px';

$max_desktop: 'max-width: 1600px';
$min_desktop: 'min-width: 1601px';

$max_fullhd: 'max-width: 1920px';
$min_fullhd: 'min-width: 1921px';

$max_big: 'max-width: 2047px';
$min_big: 'min-width: 2048px';

$max_high: 'max-width: 2559px';
$min_high: 'min-width: 2560px';

$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';

//easings
$lines_easing: cubic-bezier(0.74, 0, 0.36, 1.05);
$slider_easing: cubic-bezier(0.42, 0.05, 0, 1.07);
$moving_easing: cubic-bezier(0.19, 0.26, 0, 0.99);
$slow_easing: cubic-bezier(0.8, 0.29, 0, 0.99);

$base_font_size: 16;