<header class="header">
  <button class="btn btn--icon btn_menu js-open-menu-button">
    <i></i><i></i><i></i>
  </button>
  <div class="header_sidebar">
    <div class="header_sidebar__inner">
      <div class="container">
        <menu class="header_nav">
          <li class="header_nav__item">
            <a href="call_centers.html">Call centers</a>
          </li>
          <li class="header_nav__item">
            <a href="logistics.html">Logistics</a>
          </li>
          <li class="header_nav__item">
            <a href="spirit.html">Spirit</a>
          </li>
          <li class="header_nav__item">
            <a href="automation.html">Automation</a>
          </li>
          <li class="header_nav__item">
            <a href="investments.html">Investments</a>
          </li>
          <li class="header_nav__item">
            <a href="contacts.html">Contacts</a>
          </li>
        </menu>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header_logo _header_logo">
      <a href="index.html">
        Dot
          <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"><path d="M42.678 42.678c-9.763 9.763-25.593 9.763-35.356 0-9.763-9.763-9.763-25.593 0-35.356 9.763-9.763 25.593-9.763 35.356 0 9.763 9.763 9.763 25.593 0 35.356zm-9.821-9.821c4.339-4.34 4.339-11.375 0-15.714-4.34-4.339-11.375-4.339-15.714 0-4.339 4.34-4.339 11.375 0 15.714 4.34 4.339 11.375 4.339 15.714 0z" fill="#FFF" fill-rule="evenodd"/></svg>
        group
      </a>
    </div>
  </div>
</header>
