<div class="modal fade" tabindex="-1" role="dialog" id="contact_modal">
  <div class="modal_container">
    <div class="modal_container__row">
      <div class="modal_container__cell">

        <div class="modal_wrapper">
          <div class="modal_header">
            <button type="button" class="btn_close" data-dismiss="modal" aria-label="Close">
              <i></i>
              <i></i>
            </button>

            <div class="modal_title">Contact us</div>
          </div>
          <div class="modal_body">
            <form action="">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Full name <sup>*</sup></label>
                      <input type="text" class="form-control form-control--block" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Company name</label>
                      <input type="text" class="form-control form-control--block" autocomplete="no">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">E-mail <sup>*</sup></label>
                      <input type="text" class="form-control form-control--block" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="control-label">Phone number <sup>*</sup></label>
                      <input type="text" class="form-control" placeholder="For example: +7 926 771 71 71" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Description of the project</label>
                <textarea name="" class="form-control"></textarea>
              </div>

              <div class="form-group text-right">
                <label class="btn btn--link _fileupload_btn" for="file">Upload the presentation <span>(up to  10 Mb)</span></label>
                <input type="file" id="file" class="_fileupload_input">
              </div>
              <div class="submit-group">
                <button class="btn btn--primary" type="button">Send</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>