<div class="modal modal_map fade" tabindex="-1" role="dialog" id="map_modal">
  <div class="modal_container">
    <div class="modal_container__row">
      <div class="modal_container__cell">

        <div class="modal_wrapper">
          <div class="modal_body">
            <button type="button" class="btn_close" data-dismiss="modal" aria-label="Close">
              <i></i>
              <i></i>
            </button>
            <iframe width="100%" height="100%" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:EkTQn9GA0L7RhNGB0L7RjtC30L3QsNGPINGD0LsuLCA2NSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDExNzM0MiIwEi4KFAoSCTlloDM7TbVGEdsCgax8HBCEEEEqFAoSCfU1gis6TbVGEee4bwmmckgl&key=AIzaSyA3wgQ0uJ31D6KO-gPXExwtFmuYx9w3BWI&language=en"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>