<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/TweenMax.min.js"></script>
<script src="/vendor/scrollr.min.js"></script>
<script src="/vendor/imagesloaded.min.js"></script>
<script src="/vendor/jquery.appear.js"></script>
<script src="/vendor/parallax.min.js"></script>
<script src="/vendor/barba.min.js"></script>
<script src="/vendor/pixi.min.js"></script>
<script src="/vendor/bootstrap-modal.min.js"></script>

<script src="/animation.js"></script>
<script src="/main.js"></script>