<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spirit | DOT GROUP</title>
    <meta name="description" content="Dot">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  </head>
  <body class="inner_page">

  <%= require('html-loader?attrs=false!./partials/header.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/loader.html') %>

  <div id="barba-wrapper">
    <div class="barba-container" data-namespace="spirit" data-prev="logistics.html" data-next="automation.html" data-title="Spirit | DOT GROUP">
      <a href="logistics.html" class="fp-controlArrow fp-prev"></a>
      <a href="automation.html" class="fp-controlArrow fp-next"></a>

      <%= require('html-loader?attrs=false!./partials/sections/spirit_inner.html') %>
    </div>
  </div>
  <%= require('html-loader?attrs=false!./partials/footer_lang.html') %>

  <%= require('html-loader?attrs=false!./partials/modal.html') %>
  <%= require('html-loader?attrs=false!./partials/modal_map.html') %>

  <%= require('html-loader?attrs=false!./partials/scripts.html') %>

  </body>
</html>

