<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url(/images/automation_1.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url(/images/automation_2.jpg)"></div>
        <div class="clouds">
          <img src="/images/cloud_2.png" alt="" class="cloud cloud--1">
          <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
          <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">自动化<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    查看全部
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>DOT GROUP的关键竞争力之一是业务流程自动化。</p>
      <p>每一项业务都是独一无二的，而自动控制系统的每一个项目都有自己的特点，无论是公司所有决策的完全自动化，还是单独的业务流程引入控制系统，即使在几十次成功的实施之后，每一个后续的项目都让我们获得新的经验，加强我们的能力，扩大我们的知识范围。</p>
    </div>

    <div class="section_group">
      <h3>自动化的主要领域:</h3>
      <ul>
        <li>物流管理和监控</li>
        <li>呼叫中心自动化</li>
        <li>成本核算和员工控制</li>
        <li>控制相互的结算和应收账款</li>
      </ul>
    </div>

    <p>所有的项目都是用现代迭代技术实现的，Agile和 SCRUM使你可以在最短的时间内实现自动化过程，在执行过程中收集和精炼系统的需求。</p>
    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">留下流程自动化请求</a>

  </div>
</section>