<section class="section section_inner section_call_centers _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.2">
      <div class="scene_item__wrapper">
        <div class="section_bg image_front">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_1.jpg)"></div>
        </div>
        <div class="section_bg image_back">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_2.jpg)"></div>
          <div class="clouds">
            <img src="/images/cloud_1.png" alt="" class="cloud cloud--1">
            <img src="/images/cloud_2.png" alt="" class="cloud cloud--2">
            <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">呼叫中心<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    查看全部
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>我们尽力使您的联络中心成为一种优质客户服务的典范。我们的主要优势是来自于专家们的经验。 购买经验是不可能的，你只能获得它。丰富且专业化的经验让我们在事业上能轻而易举地获得成功。</p>
      <p>我们建立任何复杂和配置的呼叫中心。 任务越复杂，我们越能从解决问题的过程中得到更多乐趣。</p>
      <p>我们正在开发新的远程维护模型。基于对现代技术的投资和对市场的不断研究，我们为客户服务提供创意和解决方案。</p>
      <p>我们通过使用世界上最先进的技术和最好的实践手段帮助客户应对每个项目，并找到有效的解决方案。</p>
    </div>

    <h2>我们提供：</h2>
    <div class="section_group">
      <h3>呼入电话</h3>
      <ul>
        <li>通过声音和电话号码自动识别客户，为运营客服提供来自客户群的信息</li>
        <li>为运营客服提供适合您商业模式的循序渐进的互动台词脚本</li>
        <li>互动式语音应答菜单——人工智能导航，客户问题解决方案</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>呼出电话</h3>
      <ul>
        <li>我们使用热线和陌生电话两种模式最佳实践模式</li>
        <li>5秒钟——这是我们在收到申请后调用所匹配的客人所需的时间</li>
        <li>预测性拨号——机器人自己打电话给客户。您不必为电话铃声或失败的呼叫付费，您只需为呼叫本身付费</li>
        <li>培训客服并提供工具，以确保通话的高效率和提高公司呼出电话的转化率</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>透明的数据</h3>
      <p>在我们客户关系管理系统的面板中，您可以看到分析员工工作所需的一切:</p>
      <ul>
        <li>记录对话</li>
        <li>谈话时间</li>
        <li>谈话成本</li>
        <li>未接来电</li>
        <li>失败的呼叫</li>
        <li>运营商、项目和部门的通话有效性数据</li>
        <li>通过短信和电报通知在线监控和报告呼叫中心的工作</li>
      </ul>

      <p>由于有了详细的分析，我们的客户可以在他们的掌上就能轻松感受到他们业务的基本参数，并且有机会根据清晰的数字而不是个人感觉来做出管理和个人决策。</p>
    </div>

    <div class="section_group">
      <h3>自动化</h3>
      <ul>
        <li>互答式语音应答菜单：使用机器人的声音，降低用以支付呼叫中心的成本</li>
        <li>自动呼叫基地，有可能处理复杂的情况。例如，如果客户的回答是Yes，机器人就可以向客户的电子邮件地址发送商业报价</li>
        <li>对接客户关系管理和数据库</li>
        <li>实施多频道通信的复杂场景（语音、电子邮件、短信、推送、chat-bots、Viber、WhatsAPP）</li>
        <li>在人工智能的帮助下进行自动问卷调查</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>客户服务培训</h3>
      <ul>
        <li>互答式台词脚本的开发和测试</li>
        <li>为操作员开发远程学习程序</li>
        <li>为特定的任务寻找对接者</li>
        <li>制定激励性的绩效指标</li>
        <li>销售培训</li>
        <li>培训和专业的发展方向</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>审计呼叫中心</h3>
      <ul>
        <li>关键绩效指标的收集和分析</li>
        <li>操作人员工作的定性和定量评估</li>
        <li>技术审计</li>
        <li>压力分析</li>
        <li>促进建议性的发展，并变更执行控制</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">留下联系方式</a> &nbsp;&nbsp; 我们安排客服和你沟通</p>

  </div>
</section>