<section class="section section_inner section_contacts">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url(/images/contacts_1.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url(/images/contacts_2.jpg)"></div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">联系我们<span>.</span></div>
        </div>
      </div>
        <div class="contacts_content">
            <div class="contacts_address">
              俄罗斯莫斯科普罗夫索尤兹纳亚街65/1号，117342<br>
              “LOTTE”商务中心
            </div>

            <div class="contacts_links">
                <div class="row">
                    <div class="col col-xs-12 col-sm-5 col-lg-4">
                        <div class="footer_link footer_link--map">
                            <a href="#map_modal" data-toggle="modal">
                                <span class="footer_link__title">查看地图</span>
                                <span class="footer_link__arrow">
                              <svg id="triangle-right" viewBox="0 0 18.6 32.6" width="5px" height="8px"><path d="M0 0l18.6 16.3L0 32.6z"></path></svg>
                            </span>
                            </a>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-6 col-lg-6">
                        <div class="footer_link footer_link--write">
                            <a href="#contact_modal" data-toggle="modal">
                                <span class="footer_link__title">联系我们</span>
                                <span class="footer_link__arrow">
                              <svg id="triangle-right" viewBox="0 0 18.6 32.6" width="5px" height="8px"><path d="M0 0l18.6 16.3L0 32.6z"></path></svg>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 col-sm-5 col-lg-4">
                        <div class="contacts_subtitle">信息</div>
                        <div class="contacts_tel">
                            <a href="tel:+7 (495)101-60-71">+7 (495) 101-60-71</a><br>
                            <a href="mailto:office@dot.group">office@dot.group</a>
                        </div>
                    </div>
                    <div class="col col-xs-12 col-sm-6 col-lg-6">
                        <div class="contacts_subtitle">工作</div>
                        <div class="contacts_tel">
                            <a href="tel:+7 (495)115-51-17">+7 (495) 115-51-17</a><br>
                            <a href="mailto:hr@dot.group">hr@dot.group</a><br>
                            <a href="https://hh.ru/employer/2836008" target="_blank">https://hh.ru/employer/2836008</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>