<section class="section section_inner section_investments _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url('/images/investments_1.jpg')"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url('/images/investments_2.jpg')"></div>
      </div>
      <div class="clouds">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--1">
        <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">投资<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    查看全部
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>积累的资本和在公开市场上尚未获得的技术使我们不仅能够成功地发展客户的业务，而且能够投资于其他公司。</p>
      <p>我们的投资组合是多样化的: 我们既投资于成熟的行业领导者，例如，Facebook、Telegram、Amazon；也投资于那些以活力和创新的想法吸引我们的疯狂且聪明的项目。</p>
    </div>

    <div class="section_group">
      <h3>我们投资的业务:</h3>
      <ul>
        <li>电子商务平台和服务</li>
        <li>在线B2C和B2B服务</li>
        <li>移动应用程序</li>
        <li>市场营销</li>
        <li>在线教育</li>
        <li>区块链项目</li>
        <li>广告技术</li>
        <li>电信领域的服务</li>
        <li>合伙制</li>
      </ul>
    </div>

    <p>我们提供“充满智慧的资金链”。除了资金，根据贵公司的发展水平，我们可以关闭贵公司能力不足的项目，帮助接触到全新的市场。</p>
    <p>请介绍你们的产品。</p>
    <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">请留下请求</a>

  </div>
</section>