<section class="section section_lead">
  <div class="loader__finishing_overlay js-loader-finishing-overlay"></div>

  <div id="scene">
    <div class="scene_item" data-depth="0.15">
      <div class="section_bg section_bg--layer_1">
        <div class="section_bg__inner" style="background-image: url(/images/lead_hand_alt.png);"></div>
      </div>
    </div>
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg--layer_2">
        <div class="section_bg__inner" style="background-image: url(/images/lead_circle_alt.png);"></div>
      </div>
    </div>
  </div>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">这里是</div>
        </div>
        <div class="lead_title__line lead_title__line--2">
          <div class="lead_title__inner">Dot<span>.</span></div>
        </div>
        <div class="lead_title__line lead_title__line--3">
          <div class="lead_title__inner">Group</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section_text">
    <button type="button" class="btn_close_text">
        <i></i>
        <i></i>
    </button>

    <div class="container">
        <div class="section_group">
          <h2>关于我们</h2>
          <p>DOT GROUP国际集团公司在2010年成立于莫斯科。如今，我们为俄罗斯、欧洲和亚洲从事CPA营销和电子商务领域的公司开发和提供基础设施，是此行业的领军人物之一。可靠性、制造性、准确性，是我们公司的核心价值观。</p>
          <p>可靠性、制造性、准确性，是我们公司的核心价值观。这些优势让我们有机会实现客户的雄心， 并成功地通过一系列的业务流程与他们合作。</p>
          <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">请求访问我们的项目</a>

        </div>
    </div>
</section>