<section class="section section_inner section_logistics _scroll">
  <div id="scene">
    <div class="scene_item" data-depth=".3">
      <div class="section_bg section_bg_heat image_front">
        <div class="section_bg__inner" style="background-image: url(/images/logistics.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <video autoplay muted playsinline loop poster="/images/logistics.jpg" width="100%" height="100%">
          <source src="/images/video/logistics_video.mp4" type="video/mp4" />
          <source src="/images/video/logistics_video.webm" type="video/webm" />
          <source src="/images/video/logistics_video.ogv" type="video/ogg" />
        </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">物流<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    查看全部
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>


  <div class="container">
    <div class="section_group">
      <p>我们是电子商务市场自动化和物流流程领域的专家。我们为B2C公司提供了同样有效的物流服务，不管它们的规模如何：我们在小众网上商店里建立了系统，在大型在线零售商中也一样——就像斯沃琪手表一样。</p>
    </div>

    <h2>我们提供：</h2>
    <div class="section_group">
      <h3>通过这个单一的服务项目就能获得数百家快递公司提供的服务，一举多得。</h3>
      <p>通过一个应用程序编程接口向我们的客户关系管理系统的转换，您就可以访问世界上任何地方经过验证的快递公司。我们的专家会根据您的业务任务进行整合选择最好的公司。你把订单信息传递给我们——我们负责其他一切:从仓库大门到客户的大门。</p>
    </div>

    <div class="section_group">
      <h3>代发货</h3>
      <p>我们打破了固定的代发货模式。世上没有侦探会到你是在从哪个供应商的仓库进行交易。为你的商业盈利免除所有后顾之忧。</p>
    </div>

    <div class="section_group">
      <h3>仓配一体服务</h3>
      <p>是否能在一天内进入国际市场?如果你还没有和我们一起工作，那听起来就像天方夜谭。采购、配送、通关、电子商务履行、最后一英里配送——一切都已经组织完善、发展全面地等待着你。</p>
    </div>

    <div class="section_group">
      <h3>灵活的分析</h3>
      <p>我们的企业资源计划可以观察您项目的关键物流和业务指标:</p>
      <ul>
        <li>用于包装订单的时间</li>
        <li>交货时间</li>
        <li>快速汇款速度</li>
        <li>订单交付速度</li>
        <li>仓库的周转</li>
      </ul>
    </div>

    <div class="section_group">
      <p>我们的物流企业资源计划模块反映了超过17个指标。</p>
      <p>所有的客户都可以收到客户的即时通知：如果有任何偏离正常指标的情况，我们的人工智能系统将会立即通过短信或电报通知你这些问题。</p>
    </div>

    <div class="section_group">
      <h2>我们保证:</h2>
      <ul>
        <li>欧洲和亚洲所有国家12 - 48小时内交货</li>
        <li>交货优惠价(比市场低10-15%)</li>
        <li>高百分比的订单成功率</li>
        <li>净推荐值提升75%</li>
        <li>通过应用程序编程接口进行快速整合</li>
        <li>服务水平协议</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">留下联系方式</a> &nbsp;&nbsp; 我们安排客服和你沟通</p>

  </div>
</section>