<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg_canvas image_front">
        <img src="/images/development.jpg" alt="" class="section_image">
      </div>
      <div class="section_bg image_back">
          <video autoplay muted playsinline loop poster="/images/development.jpg" width="100%" height="100%">
              <source src="/images/video/development_video.mp4" type="video/mp4" />
              <source src="/images/video/development_video.webm" type="video/webm" />
              <source src="/images/video/development_video.ogv" type="video/ogg" />
          </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>See reflection</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
          <div class="lead_title__line lead_title__line--1">
              <div class="lead_title__inner">精神<span>.</span></div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    查看全部
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <h2>我们的理念</h2>

      <p>史蒂夫•乔布斯(Steve Jobs)曾谈到自己的人生哲学，他说过这样一句话:“求知若饥，虚心若愚“。我们在工作中坚持同样的原则。我们总是渴望新想法用以实现和发展已经被创造的产品。</p>
      <p>我们不断寻找新的方法，进入新的市场，投资于未来的新技术。</p>
      <p>我们的业务范围不受限制。如今，DOT GROUP几乎在所有领域为其客户提供服务和审计的流程。</p>
      <p>我们的目标是为客户提供机会，让他们能够把日常的大部分流程进行自动化调控，把更多的时间留来制定战略和产品目标。</p>
    </div>

    <div class="section_group">
      <h3>关于我们的主要事件</h3>
      <ul>
        <li>我们公司成立于2010年</li>
        <li>我们有超过40个活跃客户</li>
        <li>团队由200名员工组成</li>
        <li>我们与来自30个国家的承包商合作</li>
        <li>我们对自己的开发产品和技术拥有独特的专利</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">留下联系方式</a> &nbsp;&nbsp; 我们安排客服和你沟通</p>

  </div>
</section>