<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url(/images/automation_1.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url(/images/automation_2.jpg)"></div>
        <div class="clouds">
          <img src="/images/cloud_2.png" alt="" class="cloud cloud--1">
          <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
          <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>Увидеть отражение</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Автома</div>
        </div>
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">тизация<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    Подробнее
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>Одна из&nbsp;ключевых компетенций DOT GROUP&nbsp;&mdash; автоматизация бизнес-процессов.</p>
      <p>Каждый бизнес уникален, и&nbsp;каждый проект внедрения автоматизированных систем управления имеет свои особенности вне зависимости от&nbsp;того, проводится&nbsp;ли полная автоматизация всех подразделений компании, или внедряется система управления отдельными бизнес-процессами.</p>
      <p>Поэтому, даже после десятков успешных внедрений, каждый последующий проект позволяет нам получить новый опыт, углубить компетенции и&nbsp;расширить область наших знаний.</p>
    </div>

    <div class="section_group">
      <h3>Основные направления автоматизации:</h3>
      <ul>
        <li>управление и мониторинг логистики,</li>
        <li>автоматизация контакт-центров,</li>
        <li>учет затрат и контроль сотрудников,</li>
        <li>контроль взаиморасчетов и дебиторской задолженности.</li>
      </ul>
    </div>

    <p>Все проекты внедряются с&nbsp;использованием современных итерационных методик: Agile, SCRUM,&nbsp;&mdash; что позволяет автоматизировать процессы в&nbsp;максимально короткие сроки, собирая и&nbsp;дорабатывая требования к&nbsp;системе во&nbsp;время внедрения.</p>
    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Заказать автоматизацию процессов</a>

  </div>
</section>