<section class="section section_inner section_call_centers _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.2">
      <div class="scene_item__wrapper">
        <div class="section_bg image_front">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_1.jpg)"></div>
        </div>
        <div class="section_bg image_back">
          <div class="section_bg__inner" style="background-image: url(/images/call_centers_2.jpg)"></div>
          <div class="clouds">
            <img src="/images/cloud_1.png" alt="" class="cloud cloud--1">
            <img src="/images/cloud_2.png" alt="" class="cloud cloud--2">
            <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>Увидеть отражение</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Колл-</div>
        </div>
        <div class="lead_title__line lead_title__line--2">
          <div class="lead_title__inner">центры<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    Подробнее
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>Мы&nbsp;делаем все, чтобы ваш контакт-центр был образцом высококлассного клиентского сервиса. Наши основные преимущества&nbsp;&mdash; это эксперты и&nbsp;опыт. Опыт невозможно купить, его можно только получить. И&nbsp;именно он&nbsp;позволяет нам добиваться успехов в&nbsp;нашем бизнесе.</p>
      <p>Мы&nbsp;строим контакт-центры любой сложности и&nbsp;конфигурации. Чем сложнее задача, тем большее удовольствие мы&nbsp;получаем от&nbsp;ее&nbsp;решения.</p>
      <p>Мы&nbsp;разрабатываем новые модели дистанционного обслуживания. Инвестируя в&nbsp;современные технологии и&nbsp;непрерывно исследуя рынок, мы&nbsp;генерируем идеи и&nbsp;создаем собственные решения для клиентского сервиса.</p>
      <p>Мы&nbsp;помогаем нашим клиентам находить эффективные решения для каждого проекта с&nbsp;использованием актуальных технологий и&nbsp;лучших мировых практик.</p>
    </div>

    <h2>Что мы предлагаем</h2>

    <div class="section_group">
      <h3>Inbound звонки</h3>
      <ul>
        <li>Автоматическая идентификация клиента по&nbsp;голосу и&nbsp;номеру телефона, предоставление операторам информации из&nbsp;клиентской базы.</li>
        <li>Обеспечение работы операторов с&nbsp;помощью пошаговых интерактивных скриптов, разработанных под вашу бизнес-модель.</li>
        <li>IVR меню&nbsp;&mdash; роботизированная навигация и&nbsp;решение вопросов клиента.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Outbound звонки</h3>
      <ul>
        <li>Применяем лучшие практики холодного и&nbsp;горячего обзвона.</li>
        <li>5&nbsp;секунд&nbsp;&mdash; столько времени нужно нашему сервису, чтобы позвонить клиенту после получения заявки.</li>
        <li>Предиктивный набор&nbsp;&mdash; робот сам звонит клиентам. Вы&nbsp;не&nbsp;платите деньги за&nbsp;гудки в&nbsp;трубке или неудавшиеся звонки, оплачивается только сам разговор.</li>
        <li>Обучение операторов и&nbsp;предоставление инструментов для обеспечения высокой эффективности обзвона и&nbsp;повышения конверсионности outbound-компаний.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Прозрачная статистика</h3>
      <p>В&nbsp;панели администратора нашей CRM системы вы&nbsp;видите все, что требуется для анализа работы сотрудников:</p>
      <ul>
        <li>записи разговоров,</li>
        <li>продолжительность разговоров,</li>
        <li>стоимость разговоров,</li>
        <li>количество пропущенных вызовов,</li>
        <li>количество неудавшихся звонков,</li>
        <li>данные по эффективности звонков в разрезе операторов, проектов и подразделений,</li>
        <li>онлайн-мониторинг и&nbsp;отчеты о&nbsp;работе контакт-центра с&nbsp;помощью SMS и&nbsp;Telegram уведомлений.</li>
      </ul>

      <p>Благодаря подробной аналитике, наши клиенты чувствуют основные метрики своего бизнеса &laquo;на&nbsp;кончиках пальцев&raquo; и&nbsp;имеют возможность принимать управленческие и&nbsp;кадровые решения на&nbsp;основе четких цифр, а&nbsp;не&nbsp;личных ощущений.</p>
    </div>

    <div class="section_group">
      <h3>Автоматизация</h3>
      <ul>
        <li>IVR меню: сокращение расходов на&nbsp;контакт центр и&nbsp;фонд оплаты труда с&nbsp;помощью голосового робота.</li>
        <li>Автоматический обзвон базы с&nbsp;возможностью работы по&nbsp;сложным сценариям. Например, при утвердительном ответе на&nbsp;вопрос клиента робот может высылать коммерческое предложение на&nbsp;e-mail адрес клиента, заранее внесенный в&nbsp;базу.</li>
        <li>Интеграция с&nbsp;вашей CRM и&nbsp;базой данных.</li>
        <li>Реализация сложных сценариев мультиканальных коммуникаций (Voice, e-mail, SMS, PUSH, чат-боты, Viber, WhatsAPP).</li>
        <li>Автоопросы и анкетирование с помощью робота.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Обучение операторов</h3>
      <ul>
        <li>разработка и&nbsp;тестирование интерактивных скриптов,</li>
        <li>разработка программ дистанционного обучения операторов,</li>
        <li>поиск персонала под конкретные задачи бизнеса,</li>
        <li>разработка KPI и мотивации,</li>
        <li>обучение продажам,</li>
        <li>тренинги и повышение квалификации.</li>
      </ul>
    </div>

    <div class="section_group">
      <h3>Аудит контакт центров</h3>
      <ul>
        <li>сбор и анализ ключевых показателей,</li>
        <li>качественная и количественная оценка работы операторов,</li>
        <li>технический аудит,</li>
        <li>стресс-анализ,</li>
        <li>выработка рекомендаций и контроль внедрения изменений.</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Оставить контакты</a> &nbsp;&nbsp; для связи с менеджером</p>


  </div>
</section>