<section class="section section_inner section_investments _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.3">
      <div class="section_bg image_front">
        <div class="section_bg__inner" style="background-image: url('/images/investments_1.jpg')"></div>
      </div>
      <div class="section_bg image_back">
        <div class="section_bg__inner" style="background-image: url('/images/investments_2.jpg')"></div>
      </div>
      <div class="clouds">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--1">
        <img src="/images/cloud_1.png" alt="" class="cloud cloud--2">
        <img src="/images/cloud_3.png" alt="" class="cloud cloud--3">
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>Увидеть отражение</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Инвес<br class="visible-xs">тиции<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    Подробнее
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>Накопленный капитал и&nbsp;доступ к&nbsp;технологиям, еще не&nbsp;представленным на&nbsp;публичном рынке, позволяют нам не&nbsp;только успешно развивать бизнес наших клиентов, но&nbsp;еще и&nbsp;инвестировать в&nbsp;другие компании.</p>
      <p>Наш инвестиционный портфель диверсифицирован: мы&nbsp;вкладываем как в&nbsp;состоявшихся лидеров отрасли&nbsp;&mdash; Facebook, Telegram, Amazon, так и&nbsp;в&nbsp;яркие, иногда безумные проекты, привлекающие нас своей энергией и&nbsp;новыми идеями.</p>
    </div>

    <div class="section_group">
      <h3>Бизнес, в&nbsp;который мы&nbsp;инвестируем:</h3>

      <ul>
        <li>E-commerce платформы и сервисы</li>
        <li>Онлайн-сервисы B2C и B2B</li>
        <li>Мобильные приложения</li>
        <li>Маркетплейсы</li>
        <li>Онлайн-образование</li>
        <li>Блокчейн проекты</li>
        <li>Рекламные технологии</li>
        <li>Сервисы в сфере телекоммуникаций</li>
        <li>Партнерские системы</li>
      </ul>
    </div>

    <div class="section_group"></div>

    <p>Мы&nbsp;даем &laquo;Smart Money&raquo;. Кроме денег, в&nbsp;зависимости от&nbsp;уровня развития вашей компании, мы&nbsp;можем закрыть недостающие компетенции в&nbsp;вашем проекте, помочь с&nbsp;контактами и&nbsp;выходами на&nbsp;новые рынки.</p>
    <p>Расскажите нам о своем продукте.</p>
    <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Оставить заявку</a>

  </div>
</section>