<section class="section section_lead">
  <div class="loader__finishing_overlay js-loader-finishing-overlay"></div>

  <div id="scene">
    <div class="scene_item" data-depth="0.15">
      <div class="section_bg section_bg--layer_1">
        <div class="section_bg__inner" style="background-image: url(/images/lead_hand_alt.png);"></div>
      </div>
    </div>
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg--layer_2">
        <div class="section_bg__inner" style="background-image: url(/images/lead_circle_alt.png);"></div>
      </div>
    </div>
  </div>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Мы</div>
        </div>
        <div class="lead_title__line lead_title__line--2">
          <div class="lead_title__inner">Dot<span>.</span></div>
        </div>
        <div class="lead_title__line lead_title__line--3">
          <div class="lead_title__inner">Group</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section_text">
    <button type="button" class="btn_close_text">
        <i></i>
        <i></i>
    </button>

    <div class="container">
        <div class="section_group">
          <h2>О нас</h2>
          <p>Международная группа компаний DOT GROUP основана в&nbsp;2010&nbsp;г.&nbsp;в&nbsp;Москве. Сегодня она является одним из&nbsp;ключевых игроков в&nbsp;сфере разработки и&nbsp;предоставления IT-инфраструктуры для компаний, работающих в&nbsp;сфере CPA-маркетинга и&nbsp;E-commerce в&nbsp;России, Европе и&nbsp;Азии.</p>
          <p>Надежность, технологичность, точность&nbsp;&mdash; это ценности, которые определяют нашу компанию. Именно они дают нам возможность воплотить в&nbsp;жизнь амбиции наших клиентов и&nbsp;успешно сопровождать их&nbsp;на&nbsp;протяжении всей цепочки бизнес-процессов.</p>
          <a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Запросить доступ к нашим проектам</a>

        </div>
    </div>
</section>