<section class="section section_inner section_logistics _scroll">
  <div id="scene">
    <div class="scene_item" data-depth=".3">
      <div class="section_bg section_bg_heat image_front">
        <div class="section_bg__inner" style="background-image: url(/images/logistics.jpg)"></div>
      </div>
      <div class="section_bg image_back">
        <video autoplay muted playsinline loop poster="/images/logistics.jpg" width="100%" height="100%">
          <source src="/images/video/logistics_video.mp4" type="video/mp4" />
          <source src="/images/video/logistics_video.webm" type="video/webm" />
          <source src="/images/video/logistics_video.ogv" type="video/ogg" />
        </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>Увидеть отражение</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
        <div class="lead_title__line lead_title__line--1">
          <div class="lead_title__inner">Логис<br class="visible-xs">тика<span>.</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    Подробнее
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <p>Мы&nbsp;являемся экспертами в&nbsp;сфере автоматизации логистических процессов для рынка E-commerce. Мы&nbsp;выстраиваем логистику для B2C-компаний одинаково эффективно, вне зависимости от&nbsp;их&nbsp;размера: построенная нами система работает и&nbsp;в&nbsp;маленьких нишевых интернет-магазинах, и&nbsp;в&nbsp;крупных онлайн-ритейлерах одинаково&nbsp;&mdash; как швейцарские часы.</p>
    </div>

    <h2>Что мы предлагаем:</h2>
    <div class="section_group">
      <h3>Доступ к сотням курьерских служб через один сервис</h3>
      <p>Одна API-интеграция или переход на&nbsp;нашу CRM-систему откроют вам доступ к&nbsp;проверенным курьерским компаниям мирового уровня в&nbsp;любой точке земного шара. Наши специалисты сами подберут оптимальную компанию под ваши бизнес-задачи и&nbsp;проведут интеграцию. Вы&nbsp;передаете информацию о&nbsp;заказе&nbsp;&mdash; мы&nbsp;берем на&nbsp;себя все остальное: от&nbsp;ворот склада до&nbsp;двери клиента.</p>
    </div>

    <div class="section_group">
      <h3>Дропшиппинг</h3>
      <p>We&nbsp;broke stereotypes about the business model of&nbsp;drop shipping. No&nbsp;detective in&nbsp;the world will guess that you are trading from the warehouse of&nbsp;your supplier. Earn money on&nbsp;your business without thinking about infrastructure.</p>
    </div>

    <div class="section_group">
      <h3>Фулфилмент</h3>
      <p>Выйти на&nbsp;международный рынок за&nbsp;один день? Звучит как фантастика, если вы&nbsp;еще не&nbsp;работаете с&nbsp;нами. Закупки, дистрибуция, таможенное оформление, e-commerce фулфилмент, доставка last mile&nbsp;&mdash; все уже организовано, развивается и&nbsp;ждет вас.</p>
    </div>

    <div class="section_group">
      <h3>Гибкая аналитика</h3>
      <p>Наша ERP-система позволяет отслеживать основные логистические показатели и бизнес-показатели вашего проекта:</p>
      <ul>
        <li>время, затраченное на паковку заказа,</li>
        <li>сроки доставки,</li>
        <li>скорость перечисления денежных средств курьерской службой,</li>
        <li>эффективность доставки заказов,</li>
        <li>оборачиваемость склада.</li>
      </ul>
    </div>

    <div class="section_group">
      <p>Более 17 показателей отражается в нашем логистическом модуле ERP.</p>
      <p>Всем клиентам доступна мгновенная нотификация клиента: в&nbsp;случае каких-либо отклонений от&nbsp;нормальных показателей наш робот незамедлительно оповестит вас о&nbsp;неполадках по&nbsp;SMS или в&nbsp;Telegram.</p>
    </div>

    <h2>Что мы гарантируем:</h2>
    <ul>
      <li>Доставка от&nbsp;12&nbsp;до&nbsp;48&nbsp;часов во&nbsp;все страны Европы и&nbsp;Азии</li>
      <li>Льготные тарифы на&nbsp;доставку (на&nbsp;10-15% ниже рыночных)</li>
      <li>Высокий процент успешно выполненных заказов</li>
      <li>NPS 75% +</li>
      <li>Быстрая интеграция по API</li>
      <li>Service Level Agreement</li>
    </ul>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Оставить контакты</a> &nbsp;&nbsp; для связи с менеджером.</p>

  </div>
</section>