<section class="section section_inner _scroll">
  <div id="scene">
    <div class="scene_item" data-depth="0.1">
      <div class="section_bg section_bg_canvas image_front">
        <img src="/images/development.jpg" alt="" class="section_image">
      </div>
      <div class="section_bg image_back">
          <video autoplay muted playsinline loop poster="/images/development.jpg" width="100%" height="100%">
              <source src="/images/video/development_video.mp4" type="video/mp4" />
              <source src="/images/video/development_video.webm" type="video/webm" />
              <source src="/images/video/development_video.ogv" type="video/ogg" />
          </video>
      </div>
    </div>
  </div>

  <button type="button" class="btn_rotate">
    <img src="/images/rotate.svg" alt="rotate" width="24">
    <span>Увидеть отражение</span>
  </button>

  <div class="section_content">
    <div class="container">
      <div class="lead_title">
          <div class="lead_title__line lead_title__line--1">
              <div class="lead_title__inner">Дух<span>.</span></div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="scroll_to_explore">
  <div class="scroll_to_explore__text">
    Подробнее
  </div>
  <div class="scroll_to_explore__arrow">
    <img src="/images/arrow_down.svg" alt="arrow" width="12">
  </div>
</div>

<section class="section section_text">
  <button type="button" class="btn_close_text">
    <i></i>
    <i></i>
  </button>

  <div class="container">
    <div class="section_group">
      <h2>Состояние нашего духа</h2>

      <p>Стив Джобс, когда-то рассказывая о&nbsp;своей жизненной философии, выдал фразу: &laquo;Stay hungry, stay foolish&raquo;. Такого&nbsp;же принципа мы&nbsp;придерживаемся и&nbsp;в&nbsp;своей работе. Мы&nbsp;всегда голодны до&nbsp;реализации новых идей и&nbsp;развития уже созданных продуктов.</p>
      <p>Мы&nbsp;постоянно ищем новые подходы, выходим на&nbsp;новые рынки и&nbsp;инвестируем в&nbsp;технологии завтрашнего дня.</p>
      <p>Сфера наших бизнес-интересов не&nbsp;ограничена. DOT GROUP на&nbsp;сегодняшний день обслуживает и&nbsp;аудирует бизнес-процессы своих клиентов практически во&nbsp;всех областях бизнес-компетенций.</p>
      <p>Наша цель&nbsp;&mdash; предложить клиентам возможность отдать нам под управление и&nbsp;автоматизацию большинство своих рутинных бизнес-процессов, оставив за&nbsp;собой только стратегические и&nbsp;продуктовые задачи.</p>
    </div>

    <div class="section_group">
      <h3>Основные факты о нас</h3>
      <ul>
        <li>Основаны в 2010 году</li>
        <li>Более 40 активных клиентов</li>
        <li>Команда из 200 сотрудников</li>
        <li>Работаем с контрагентами из 30 стран</li>
        <li>Имеем уникальные патенты на собственные разработки</li>
      </ul>
    </div>

    <p><a href="#contact_modal" data-toggle="modal" class="btn btn--primary">Оставить контакты</a> &nbsp;&nbsp; для связи с менеджером.</p>

  </div>
</section>